/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/
@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    width: 100%;
    overflow-y: visible;
    overflow-x: hidden;
    height: 100vh;
}


header {
    background-color: #1B262C;
    color: #BBE1FA;
}

header h1{
    margin: 0 auto;
}

header h1{
    font-size: 30px;
    font-family: 'Edu VIC WA NT Beginner', cursive;
}

.search-container{
    width: 100%;
    height: 60px;
    position: relative;
    margin-top: 25px;
}

.search-container .search-box-container{
    width: 90%;
    height: 100%;
    display: block !important;
    position: relative;
    display: flex;
    margin: 0 auto;
    text-align: center;
}


.search-container .search-box-container .search-box{
    border-bottom: 1px solid #0F4C75;
}

.search-container .search-box-container .submit-btn{
    border: 1.5px solid #0F4C75;
    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.search-container .search-box-container .submit-btn:hover{
    background-color: #1B262C;
    cursor: pointer;
    color: #BBE1FA;
}



.task{
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    background-color: #E7F6F2;
    border-radius: 8px;
    padding: 0 15px;
    align-items: center;
    box-sizing: border-box;
    margin: 10px;
}

.task .text{
    display: flex;
}

.task .text p{
    margin-left: 5px;
}

.task .btns-container{
    width: 25%;
    display: flex;
    justify-content: space-around;
}

.task .btns-container button{
    width: 80px;
    border: none;
    outline: none;
    background-color: #E7F6F2;
    color: #395B64;
    transition: all 2s  ease-in-out;
}

.task .btns-container button:hover{
    color: #2C3333;
    border-bottom: 1px solid #2C3333;
}


.task .text p.compeleted{
    text-decoration: line-through;
}


.did-tasks .task{
    background-color: #c5c4cb;
    color:#3f3e41;
}

.did-tasks .task .btns-container button{
    background-color: transparent;
    color: black;
    margin-right: 20px;
}

.did-tasks .task .btns-container{
    display: flex;
    justify-content:flex-end;
}


.notification-container{
    width: 380px;
    height: 50px;
    opacity: 0;
}

.notification-container button{
    background-color: transparent;
    border: none;
    outline: none;
}

.notification-container button svg{
    width: 25px;
    height: 25px;
    align-items: center;
}


.notification-container.show{
    opacity: 1;
    animation: 2s show cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
}

.notification-container.hide{
    animation: 2s hide linear forwards;
}

footer{
    background-color: #1B262Ced;
    color: #BBE1FA;
}

@keyframes show{
    0%{
        transform: translateX(100%);
    }

    40%{
        transform: translateX(-10%);
    }

    80%{
        transform: translateX(0%);
    }

    100%{
        transform: translateX(-10px);
    }
}

@keyframes hide{
    0%{
        transform: translateX(-10px);
    }

    40%{
        transform: translateX(0%);
    }

    80%{
        transform: translateX(-10%);
    }

    100%{
        transform: translateX(100%);
    }
}

@media (max-width: 675px) {
    body{
        width: 100%;
        height: 100vh;
        overflow-y:visible;
        overflow-x: hidden m !important;

    }

    main{
        overflow-y: visible;
        overflow-x: hidden;
    }

    .tasks{
        width: 100%;
        text-align: center;
    }
    .task{
        width: 90%;
        margin: 10px auto;

    }

    .task .btns-container{
        width: 40%;
    }

    .did-tasks{
        width: 100%;
    }

    .search-container{
        width: 100%;

     }
    .search-box-container{
        width: 100%;

    }
    .search-box-container .search-box{
        width: 90% !important;
        display: block;
        justify-content: center;

    }

    .search-box-container .submit-btn{
        width: 40% !important;
        margin-top: 15px;
        border-radius: 10px;
    }

    .notification-container{
        width: 95%;
        top: 90%;
        z-index: 2;
        overflow: hidden;
        position: fixed;
    }

    .weather-card{
        background-color: rgba(0, 0, 0, 0.6);
        color: white;
        display: flex;
        bottom: 70px;
        width: 100%;
        margin: 0 auto;
        justify-content: center;
        border-radius: 0;
    }

}

